<div class="content-super animated fadeIn fast">
  <div class="title">Publicación de noticias</div>
  <div class="no-publish" *ngIf="!validateNews()">
    <div>
      <p>No hay publicaciones aún, añade una!</p>
      <i class="fas fa-plus-circle fa-3x icon-plus icon-position" id="myBtn" (click)="addPublish()"></i>
    </div>
  </div>
  <div *ngIf="validateNews()">
    <div class="new" *ngFor="let new_ of news">
      <div class="date">
        {{new_.publish}}
      </div>
      <div class="information">
        {{new_.information}}
      </div>
    </div>
    <div class="add-publish">
      <i class="fas fa-plus-circle fa-3x icon-plus" id="myBtn" (click)="addPublish()"></i>
    </div>
  </div>
</div>
<app-modal-input *ngIf=openModal [title]=titleModal [placeholder]=placeholder
                 (closeModal)="closeModal($event)" [loadingSend]="loadingSend"
                 [textButton]=modalTextButton [message]="messageInModal"
                 (sendText)= "getText($event)"></app-modal-input>

