<div class="content-super">
    <div class="content">
      <div>
        <h3 class="title">Deudores morosos de pago de administración</h3>
      </div>
      <div class="cabecera">
        <i class="fas fa-comment-dollar fa-3x"style="color: #fdc130"></i>
          <p> En esta sección usted podrá notificar por mensaje de texto un aviso importante para todos los deudores de administración o para uno en específico</p>
      </div>
      <app-input-search (textSearch)="searchTowelHome($event)" *ngIf=showList></app-input-search>
      <div class="residents-table" *ngIf=showList>
          <table class="table">
              <thead class="thead">
                <tr>
                  <th>Torre Apartamento</th>
                  <th>Nombre</th>
                  <th>Cédula</th>
                  <th>Meses en mora</th>
                  <th>Deuda total</th>
                  <th>
                      <button class="btn-notificar-todos" (click)="notifyAllResidents()">Enviar mensaje a todos</button>
                  </th>
               </tr>
              </thead>
              <tbody>
                <tr *ngFor="let debtor of debtors">
                  <td>{{debtor.towerNumberHome}}</td>
                  <td>{{debtor.name}}</td>
                  <td>{{debtor.documentNumber}}</td>
                  <td>{{debtor.months}} </td>
                  <td>{{debtor.debt | currency}}</td>
                  <td>
                      <button class="btn-notificar" (click)="notifyResident(debtor)">
                        <i class="fas fa-paper-plane"></i>
                        Notificar</button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="total-debtors">
        Total de deudores ({{debtors.length}})
      </div>
    </div>
  </div>

  <div>

  </div>

<app-modal-input *ngIf=openModal [title]=titleModal [placeholder]=placeholder [notification]=true
                 [textButton]=modalTextButton [loadingSend]=loadingSend
                 (closeModal)="closeModal($event)" [message]="messageInModal"
                 (sendText)= "getText($event)"></app-modal-input>



