<div class="content-super">


    <div class="debtor">
        <div class="message">
            <i class="fas fa-exclamation-triangle" style="color: darkorange;"></i>
            Usted se encuentra en estado de mora 
        </div>
        <div class="detail">
            <div class="month">
                Meses:
            </div>
            <hr>
            <div class="debt">
                Monto total:
            </div>
        </div>
    </div>
    <footer>
        <div class="contact">
            Si tiene alguna inquietud contacte al administrador por medio del modulo de envio de peticiones.
        </div>
    </footer>
</div>

