.content-super{
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  background-image: url("../../../../assets/images/parque2Min.png");
}
.content{
  display: block;
  width: 100%;
  height: -webkit-fill-available;
}
.info{
  padding: 15px;
}
.message{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    padding-top: 30px;
  display: block;
}
.title{
  margin-top: 20px;
}

.contact{
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    width: 100%;
    color: rgb(26, 2, 26);
    height: 100px;
    background-color: rgba(210, 180, 238, 0.774);
    bottom: 0;
    position: fixed;
}
.detail{
    font-size: 20px;
    padding: 20px;
    margin: auto;
    width: 265px;
    height: 170px;
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(14, 9, 14, 0.315);
    background-color: #ffffff;
}

@media (min-width: 425px){
    .detail{
        width: 380px;
    }
}

@media (min-width: 640px){
    .detail{
        width: 500px;
    }
    .message{
        font-size: 24px;
    }
}
@media (min-width: 980px){
    .detail{
        width: 600px;
    }
}
