<div class="content-super">
  <div class="content">
    <h3>Información de los residentes del conjunto residencial</h3>
    <div class="cabecera">
      <i class="fas fa-sms fa-3x" style="color: #fdc130"></i>
        <p> En esta sección usted registrar todos los residentes del conjunto adjuntando un archivo excel y también
          notificar por mensaje de texto un aviso importante para todos los residentes o para uno en específico</p>
    </div>
    <div *ngIf=!showList>
        <app-select-excel-data (dataExcel)="getDataExcel($event)"></app-select-excel-data>
    </div>
    <div class="content-nav" *ngIf=showList>
      <app-input-search (textSearch)="searchTowelHome($event)"></app-input-search>
      <button class="btn-add" (click)="addResident()">Añadir residente</button>
    </div>
    <div class="residents-table" *ngIf=showList>
        <table class="table">
            <thead class="thead">
              <tr>
                <th>Torre Apartamento</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Meses en deuda</th>
                <th>Deuda total</th>
                <th></th>
                <th>
                    <button class="btn-notificar-todos" (click)="notifyAllResidents()">Enviar mensaje a todos</button>
                </th>
             </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resident of residentList let i = index">
                <td>{{resident.towerNumberHome}}</td>
                <td>{{resident.documentNumber}}</td>
                <td>{{resident.name}}</td>
                <td>
                  <input class="input-text" type="text" [(ngModel)]="resident.cellphone">
                </td>
                <td>
                  <input class="input-text" type="number" [(ngModel)]="resident.months">
                </td>
                <td class="td-currency">
                  $<input class="input-text" type="number" [(ngModel)]="resident.debt">
                </td>
                <td> <i class="fas fa-save fa-2x icon-save" (click)="saveInfo(i)" *ngIf="validateFields(i) && !validateShowLoadingUpdate(i)"></i>
                  <img *ngIf="validateShowLoadingUpdate(i)" alt="" src="../../../../assets/gif/loading.gif">
                </td>
                <td>
                    <button class="btn-notificar" (click)="notifyResident(resident)">
                      <i class="fas fa-paper-plane"></i>
                      Notificar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>

<div>

</div>

<app-modal-input *ngIf=openModal [title]=titleModal [placeholder]=placeholder [notification]=true
                 [textButton]=modalTextButton [loadingSend]=loadingSend
                 (closeModal)="closeModal($event)" [message]="messageInModal"
                 (sendText)= "getText($event)"></app-modal-input>

<app-add-resident *ngIf=openModalAddResident (closeModalAddResident)="closeModalAddResident($event)"
                  (residentSaved)="pushResidentSavedInList($event)"></app-add-resident>

