<div class="content-super">
  <div class="content">
    <h3 class="title">Mis solicitudes</h3>
    <div class="text">
      <i class="fas fa-bell fa-2x icon-title"></i>
      <p class="subtitle">En esta sección usted podrá ver las solicitudes que ha enviado al administrador del conjunto y ver las respuestas del administrador.</p>
    </div>
    <div *ngIf="listLength>0">
      <app-filters (optionFilterType)="filterRequestType($event)"
                   (optionFilterState)="filterRequestState($event)"></app-filters>
    </div>
    <div *ngIf="listLength==0" class="empty-content">
      <p class="subtitle">Aún no has realizado solicitudes al administrador.</p>
      <div class="icon-empty">
        <i class="fas fa-envelope-open-text fa-5x"></i>
      </div>
    </div>
    <div class="content-table" *ngIf="listLength>0">
      <div class="news-table">
        <table class="table">
          <thead class="thead">
          <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th class="peticion">Petición</th>
            <th>Estado</th>
            <th>Ver</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let request of requestResidents">
            <td>{{request.publishDate}}</td>
            <td>{{typeRequestEnum[request.type]}}</td>
            <td>
              <div class="message-resident">
                {{request.message}}
              </div>
              </td>
            <td>{{request.state}}</td>
            <td>
                <p *ngIf="request.state==='Sin respuesta'">--</p>
                <i class="far fa-eye fa-2x icon" *ngIf="request.state === 'Atendido'"
                (click)="showResponse(request)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="total-request">
      Total solicitudes ({{listLength}})
      - Con respuesta ({{atendidas}})
      - Sin respuesta ({{sinAtender}})
    </div>
  </div>
  </div>
<app-modal-input *ngIf=openModal [title]=titleModal
                 (closeModal)="closeModal($event)"
                 [textArea]="textArea" [parrafo]="parrafo"></app-modal-input>
