.content-super{
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  background-image: url("../../../../assets/images/parque2.png");
}
.title{
  color: white;
    font-size: 25px;
    text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.subtitle{
  color: #ffffff;
  text-align: center;
}
.content-table{
  border-radius: 6px;
  box-shadow: 0 6px 10px 0 rgba(14, 9, 14, 0.315);
  background-color: white;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 420px;
}
.total-request{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.icon-empty{
  color: #b5b8bf;
  margin: auto;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.empty-content{
  justify-content: center;
  text-align: center;
}

.content{
  max-width: 80%;
}
.icon{
  color: #59165f;
  cursor: pointer;
}
.thead{
    background-color: rgb(238, 165, 30);
}
.content-table{
    overflow-x: scroll;
}
.btn-enviar{
    background-color:  rgb(6, 152, 189);
}
#torre{
    width: 168px;
}
@media (min-width: 480px){
  .subtitle{
    text-align: center;
    font-size: 18px;
  }
  .peticion{
    width: 250px;
  }
    .content-table{
        overflow-x: unset;
    }
}
