.content-super {
  height: -webkit-fill-available;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
}

.title{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
.input-request{
    margin: auto;
}
.content-request{
  width: 600px;
  height: 70%;
  background-color: #f6f8fa;

}

.radios{
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#input-text{
    padding: 20px;
}

input[type=radio]{
    margin-right: 5px;
}
.radios-borde{
    margin: auto;
    width: 280px;
}

.btn-send{
    margin: auto;
    width:  235px;
}
.btn-login{
    margin: auto;
    margin-bottom: 0px;
    width: 235px;
    height: 48px;
    border-radius: 100px;
    border: solid 1px #fdc130;
    background-image: linear-gradient(107deg, #fdc130 18%, #f69b31);
    color: #002c76;
    outline:none;
}
.btn-login-block{

    margin: auto;
    margin-bottom: 0px;
    width: 235px;
    height: 48px;
    border-radius: 100px;
    border: solid 2px #8d887d;
    background-color: #d4ccba;
    color: #23324d;
    outline:none;
}
.input-request {
    width: 283px;
  height: 226px;
  border-radius: 9px;
  background-color: #ffffff;
  border-color: #53a7fd;
}


@media (min-width: 590px){
  .content-super{
    background-image: url("../../../../assets/images/entradaMin.png");
  }
    .input-request {
        width: 500px;
      height: 245px;
      font-size: 18px;
    }
    .title{
        font-size: 24px;
    }
    .radios-borde{
        width: 500px;
        font-size: 18px;
    }
    .content-request{
      margin-top: 30px;
      box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.11);
      border-radius: 12px;
      padding: 40px;
      background-color: #f6f8fa;
    }
}
