#container {
    visibility: hidden;
  }

  #loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
  }

  .control_wrapper {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(238, 234, 225);
  }
  .e-upload .e-upload-actions .e-file-clear-btn,
  .e-upload .e-upload-actions .e-file-upload-btn {
    -webkit-tap-highlight-color: transparent;
      color: #000000;
      box-shadow: none;
      margin: 0;
      text-transform: none;
      padding: 8px 0;

    border-radius: 100px;
    border: solid 1px #8482fd;
    background-color: white;
  }

  .e-btn{
    width: 140px;
    height: 40px;
    color: #002c76;
    border-radius: 100px;
    border: solid 1px #8482fd;
    background-color: white;
  }
  .upload::before {
    content: '\e725';
    position: relative;
    font-size: 10px;
    right: 10px;
  }
  .remove::before {
    content: '\e932';
    position: relative;
    font-size: 10px;
    right: 10px;
  }

  .e-upload .e-upload-actions {
    width: 100%;
  }
