.search{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.input-search{
    text-align: center;
    outline: none;
  width: 190px;
  height: 32px;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #6ecbf7;
  background-color: #ffffff;
  color: #06161b;
}
