.content-super{
    background-color: #f6f8fa;
    width: 100%;
    height: auto;
    justify-content: center;
}
.title{
    color: rgb(60, 46, 63);
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.date{
    font-size: 14px;
    text-align: right;
}
.new{
    display: block;
    color: white;
    font-size: 18px;
    padding: 20px;
    margin: auto;
    width: 265px;
    height: 224px;
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(14, 9, 14, 0.315);
    background-color: #53a7fd;
    margin-bottom: 20px;
}
.commit{
    font-weight: bold;
    color: rgb(255, 200, 21);
    text-decoration: underline rgb(255, 208, 1);
    cursor: pointer;
}
.information{
    height: 115px;
}

@media (min-width: 425px){
    .title{
        font-size: 24px;
    }
    .new{
        width: 380px;
        height: 210px;
    }
}
@media (min-width: 640px){
    .new{
        width: 500px;
    }
}
@media (min-width: 980px){
    .new{
        width: 800px;
    }
}
