<div class="content-super animated fadeIn fast">

    <div class="title">Noticias</div>
    <div class="new">
        <div class="date">
            12-12-2020
        </div>
        <div class="information">
            ejejso eofnwoefn wefnwjef e wefnwejfn wefwef wefwef eofnwoefn
            asd
            asd
            afefwefwef
            wefwefwef
        </div>
        <div class="commit"  data-toggle="modal" data-target="#exampleModal">
            Comentar
        </div>
    </div>
</div>