<div class="content-super animated fadeIn fast">

    <div class="title">Noticias</div>
    <div class="new"*ngFor="let new of news">
        <div class="date">
            {{new.publish}}
        </div>
        <div class="information">
            {{new.information}}
        </div>
        <div class="commit" (click)="commit(new)">
            Comentar
        </div>
    </div>
</div>

<app-modal-input *ngIf=openModal [title]=titleModal [placeholder]=placeholder
                 (closeModal)="closeModal($event)" [loadingSend]="loadingSend"
                 [textButton]="modalTextButton" [message]="messageInModal"
                 (sendText)= "getText($event)"></app-modal-input>
