<div id="content-super">
  <div class="content">
    <div class="title">Noticias</div>
    <div *ngIf="news.length===0" class="subtitle">
      <p>Aún no se han publicado noticias.</p>
      <div class="icon-empty">
        <i class="fas fa-envelope-open-text fa-5x"></i>
      </div>
    </div>
    <div *ngIf="news.length>0">
      <div class="new"*ngFor="let new of news">
        <div class="date">
          Fecha de publicación: {{new.publish}}
        </div>
        <div class="information">
          {{new.information}}
        </div>
        <div class="commit" (click)="commit(new)">
          Comentar
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-input *ngIf=openModal [title]=titleModal [placeholder]=placeholder
                 (closeModal)="closeModal($event)" [loadingSend]="loadingSend"
                 [textButton]="modalTextButton" [message]="messageInModal"
                 (sendText)= "getText($event)"></app-modal-input>
