<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        JoGeek
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="//github.io/jo_geek" target="_blank">Noticias</a>
      <a href="http://stackoverflow.com/users/4084003/" target="_blank">Estado de mis pagos
        <i class="fas fa-hand-holding-usd"></i>
    </a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Enviar petición</a>
    </div>
    
  </div>