<div class="content-super">
  <div class="content">
      <h3 class="title">Solicitudes de los residentes del conjunto</h3>
    <div class="text">
      <i class="fas fa-bell fa-2x icon-title"></i>
      <p class="subtitle">En esta sección usted puede ver y responder las solicitudes que realizan los residentes del conjunto residencial Hacienda el Rosal.</p>
    </div>
    <div *ngIf="listLength==0" class="empty-content">
      <p>Los residentes aún no han hecho solicitudes.</p>
      <div class="icon-empty">
        <i class="fas fa-envelope-open-text fa-5x"></i>
      </div>
    </div>
    <div *ngIf="listLength>0">
      <app-filters (optionFilterType)="filterRequestType($event)"
                   (optionFilterState)="filterRequestState($event)"></app-filters>
    </div>

    <div class="content-table" *ngIf="listLength>0">
      <div class="news-table">
        <table class="table" cellspacing="10px">
          <thead class="thead">
          <tr>
            <th id="torre">Torre Apartamento</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th class="peticion">Petición</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Interactuar</th>
          </tr>
          </thead>
          <tbody class="table-body">
          <tr class="rows" *ngFor="let request of requestResidents">
            <td>{{request.userDto.towerNumberHome}}</td>
            <td>{{request.publishDate}}</td>
            <td>{{request.userDto.name}}</td>
            <td>
              <div class="message-resident">
                {{request.message}}
              </div>
             </td>
            <td>{{typeRequestEnum[request.type]}}</td>
            <td>{{request.state}}</td>
            <td>
              <i class="fas fa-reply fa-2x icon" *ngIf="request.state==='Sin respuesta'" (click)="openAction(1, request)"></i>
              <i class="far fa-eye fa-2x icon-eye" *ngIf="request.state==='Atendido'" (click)="openAction(2, request)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="total-request">
      Total solicitudes ({{requestResidents.length}})
       - Con respuesta ({{atendidas}})
       - Sin respuesta ({{sinAtender}})
    </div>
  </div>
</div>

<app-modal-input *ngIf=openModal [title]=titleModal [placeholder]=placeholder
                 (closeModal)="closeModal($event)" [loadingSend]="loadingSend"
                 [textButton]=modalTextButton [message]="messageInModal"
                 [textArea]="textArea" [parrafo]="parrafo"
                 (sendText)= "getText($event)"></app-modal-input>
