.content-super{
  background-color: #f6f8fa;
  display: flex;
  height: -webkit-fill-available;
  justify-content: center;
}
.select-filtro{
  border-color: #6ecbf7;
}
.total-request{
  margin-top: 20px;
  text-align: center;
}
.rows{
  height: 50px !important;
  overflow-y: scroll;
}
.table-body{
  flex: 1 1 auto;
}
.icon-empty{
  color: #a6a9b0;
  margin: auto;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.empty-content{
  justify-content: center;
  text-align: center;
}

.content{
  max-width: 80%;
  padding: 30px;
}
.text{
  text-align: center;
  display: flex;
}
.all-filters{
  display: block;
}
.filtro{
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon{
  margin-right: 10px;
  color: #008cff;
  cursor: pointer;
}
.instructions{
  width: 100%;
  justify-content: center;
  display: flex;
}
.icon-eye{
  margin-right: 10px;
  color: #59165f;
  cursor: pointer;
}
.icon-title{
  margin-right: 10px;
  color: #eec821;
}
.title{
    font-size: 25px;
    text-align: center;
}
.thead{
    background-color:  #fdc130;
}
.content-table{
  border-radius: 6px;
  box-shadow: 0 6px 10px 0 rgba(14, 9, 14, 0.315);
  background-color: white;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 420px;
}
.btn-enviar{
    background-color:  rgb(6, 152, 189);
}
#torre{
    width: 168px;
}
@media (min-width: 480px){
  .subtitle{
    font-size: 18px;
  }
    .content-table{
        overflow-x: unset;
    }
  .peticion{
    width: 250px;
  }
}
@media (min-width: 980px){
  .all-filters{
    display: flex;
    width: 500px;
    justify-content: space-between;
  }
}

